<div data-options="dxView : { name: 'Configuracion',title: 'Configuraci&oacute;n'} " >
    <div style="background: #fff !important;" id="configuracionContent" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <h2>&#191;QU&#201; TIPO DE NOTIFICACIONES DESEA RECIBIR?</h2>
        <div id="contentConfigOptions">
            <div class="contentOption clearfix" >
                <div class="contentTextOption">Alerta Noticias</div>
                <div class="contentCheckOption">
                    <div id="noticias" data-bind="dxCheckBox:{ clickAction : noticiasClick , checked : noticiasPush }" ></div>
                </div>
            </div>
            <div class="contentOption clearfix">
                <div class="contentTextOption">Alerta de Contenidos</div>
                <div class="contentCheckOption">
                    <div id="contenidos" data-bind="dxCheckBox:{ clickAction : contenidosClick , checked : contenidosPush }"  ></div>
                </div>
            </div>
            <div class="contentOption clearfix" id="masAlertas" >
                <div class="contentTextOption">Alerta de Programas</div>
                <div class="contentCheckOption">
                    <img class="arrowleft" src="images/arrow-left.png">
                </div>
            </div>
        </div>
    </div>
</div>