<div data-options="dxView : { name: 'Noticias',title: 'Noticias'} " >
    <div style="background: #fff !important;" data-options="dxContent : { targetPlaceholder: 'content' } ">
    	<div class="centerContent" style="height:85%;" data-bind="dxScrollView: { }">
            <div data-bind="dxLoadPanel: { message: 'Cargando...', visible: loadingNoticiaList }"></div>
   			<!--  
   			<div class="contentNoticiasList" data-id="1">
   				<img src="test/noticias.jpg" />
   				<h3>&#191;La mejor pel&#237;cula de Ben Stiller?</h3>
   			</div>
   			-->
    	</div>
	    <div id="ads">
	    </div>
    </div>
</div>